<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Reviews Edit</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/myreset.css" />
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/sub.css" />
    <link
      href="/public/img/pavicon.ico"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <script src="/public/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">
          <svg viewBox="0 0 1320 200">
            <text x="50%" y="50%" dy=".35em" text-anchor="middle">
              Movie reviews
            </text>
          </svg>
        </a>
      </h1>
    </header>
    <form action="/edit?_method=PUT" method="post">
      <ul class="write_wrap">
        <li class="write_edit">
          <span class="thumbnail"
            ><img src="<%= post.url %>" alt="<%= post.title %>"
          /></span>
          <p hidden>
            <label
              >번호<input type="text" name="id" value="<%= post._id %>"
            /></label>
          </p>
          <div class="write_detail">
            <p>
              <label
                >영화제목
                <input type="text" name="title" value="<%= post.title %>"
              /></label>
            </p>
            <p>
              <label class="url_wrap"
                >영화url
                <input
                  type="text"
                  id="movie_url"
                  name="Post_url"
                  value="<%= post.url %>"
                />
                <span class="movie_url_log"></span>
              </label>
            </p>
          </div>
          <div class="write_select">
            <p class="date_wrap">
              <label
                >개봉일 <input type="date" name="date" value="<%= post.date %>"
              /></label>
            </p>
            <p class="select_wrap">
              <label
                >장르
                <select name="genre">
                  <option value="none">장르선택</option>
                  <option value="공포" <%= post.genre === '공포' ? 'selected' : '' %>>공포</option>
                  <option value="멜로" <%= post.genre === '멜로' ? 'selected' : '' %>>멜로</option>
                  <option value="코미디" <%= post.genre === '코미디' ? 'selected' : '' %>>코미디</option>
                  <option value="다큐" <%= post.genre === '다큐' ? 'selected' : '' %>>다큐</option>
                  <option value="판타지" <%= post.genre === '판타지' ? 'selected' : '' %>>판타지</option>
                  <option value="액션" <%= post.genre === '액션' ? 'selected' : '' %>>액션</option>
                  <option value="스릴러" <%= post.genre === '스릴러' ? 'selected' : '' %>>스릴러</option>
                  <option value="사극" <%= post.genre === '사극' ? 'selected' : '' %>>사극</option>
                  <option value="SF" <%= post.genre === 'SF' ? 'selected' : '' %>>SF</option>
                  <option value="전쟁" <%= post.genre === '전쟁' ? 'selected' : '' %>>전쟁</option>
                  <option value="애니메이션" <%= post.genre === '애니메이션' ? 'selected' : '' %>>애니메이션</option>
                  <option value="드라마" <%= post.genre === '드라마' ? 'selected' : '' %>>드라마</option>
                  <option value="스포츠" <%= post.genre === '스포츠' ? 'selected' : '' %>>스포츠</option>
                  <option value="추리" <%= post.genre === '추리' ? 'selected' : '' %>>추리</option>
                  <option value="좀비" <%= post.genre === '좀비' ? 'selected' : '' %>>좀비</option>
                  <option value="히어로" <%= post.genre === '히어로' ? 'selected' : '' %>>히어로</option>
                  <option value="범죄" <%= post.genre === '범죄' ? 'selected' : '' %>>범죄</option>
                </select></label
              >
            </p>
          </div>
          <div class="grade_wrap">
            <p>
              <label class="grade_p">
                평점
                <input
                  type="number"
                  name="grade"
                  value="<%= post.grade%>"
                  id="input_grade"
                  min="0"
                  max="5"
                  step="0.1"
                />
                <span class="grade_log"></span>
              </label>
            </p>
          </div>
          <input type="submit" value="수정" />
        </li>
        <li class="comment_wrap">
          <p>
            <label class="comment">
              <textarea
                id="input_comment"
                placeholder="코멘트 입력"
                name="comment"
                maxlength="500"
              >
      <%= post.comment %></textarea
              >
              <span class="comment_log"></span>
            </label>
          </p>
        </li>
      </ul>
    </form>
  </body>
</html>
